<div class="row">
    {{#each products}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <img src="../../storage/img_perrito_compras.png" height="10px" width="10px">
                <h4 class="car-title d-flex justify-content-between align-items-center">
                    {{name}}
                </h4>
                <p>${{price}}</p>
                <p>{{description}}</p>
                <button class="btn btn-danger bte-block btn-sm">
                    Delete
                </button>
                <botton class="btn btn-danger bte-block btn-sm">
                    edit
                </botton>
            </div>
        </div>
    </div>
    {{/each}}
</div>