<div class="row">
    {{#each products}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="car-title">
                    {{name}}
                </h4>
                <p>${{price}}</p>
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>