<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium deserunt, 
            quod repellat itaque autem est fugiat velit beatae dolores, odio eos at fugit 
            iure maiores, facilis quo nesciunt ratione facere!</p>

    </div>
</div>